* {
    background-color: #222629;
    color: #86C232;
}

#top-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

#morse-code-image {
    margin-top: 20px;
    height: 20vw;
    margin-bottom: 20px;
}

#text-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#morse-input-box {
    width:50vw;
    height:10vh;
    background-color: black;
}

#letter-output-box {
    width:50vw;
    height:10vh;
    background-color: black;
    margin-top: 20px;
}