:root {
    /* Colour Palette */
    --dark-green: #61892F;
    --light-green: #86C232;
    --light-black: #222629;
    --dark-grey: #474B4F;
    --light-grey: #6B6E70;
}

* {
    background-color: #222629;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: var(--light-black);
    padding: 20px;
    border: 5px;
    margin: 25px;
}

.first {
    margin-bottom: 20px;
}

h1 {color: var(--light-green);
}

/* .back-btn {
    color: white;
    background-color: var(--light-grey);
    margin-bottom: 25px;
} */

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

h2 {
    color: var(--light-green)
    

}

.custom-container {
    width: 100%;
    height: 100vh;
}

.text-box-container {
    margin-top: 30px;
}

textarea {
    width: 400px;
    height: 100px;
}


textarea {
    padding: 10px 10px;
    border: 5px 5px;
    background-color: black;
    color: var(--light-green);
    margin: 25px;
}

.custom-button {
    color: white;
    background-color: var(--light-green);
    border-color: var(--light-green);
    margin: 10px;
}

.custom-button:hover {
    background-color: #c2f17f;
} 

.custom-button:active {
    box-shadow: inset -2px -2px 10px var(--light-black)
}

.xbutton {
    color: white;
    background-color: var(--light-grey);
    border-color: var(--light-grey);
    margin: 5px 5px;   
}

.xbutton:hover {
    background-color: #979899;
}

.xbutton:active {
    box-shadow: inset -2px -2px 10px var(--light-black)
}


.bottom3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.saved-input {
    margin-bottom: 100px;
}