:root {
    /* Colour Palette */
    --dark-green: #61892F;
    --light-green: #86C232;
    --light-black: #222629;
    --dark-grey: #474B4F;
    --light-grey: #6B6E70;
}

* {
    background-color: #222629;
    color: #86C232;
}

#top-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

#morse-code-image {
    margin-top: 20px;
    height: 20vw;
    margin-bottom: 20px;
}

#text-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-boxes {
    padding:10px;
    width:50vw;
    height:10vh;
}

::placeholder {
  color: #86C232;
}

#morse-input-box {
    background-color: black;
}

#letter-output-box {
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

#input-buttons-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-buttons {
    background-color: #86C232;
    color:white;
    margin-bottom: 10px;
    width:200px;
    height:5vh
}

a, a:hover {
    text-decoration: none;
    color: inherit;
    background-color: var(--light-grey);
}

.btn-secondary {
    margin-bottom: 20px;
}